@CHARSET "UTF-8";

body {
	background-image: url('../images/background.jpg');
	background-color: #cccccc;
}

.div-table {
	display: table;
	margin-left: auto;
	margin-right: auto; width : auto;
	background-color: #bbb;
	border: 1px solid #666666;
	border-spacing: 1px;
	width: auto; /*cellspacing:poor IE support for  this*/
}

.div-table-row {
	display: table-row;
	width: auto;
	clear: both;
}

.div-table-col {
	float: left; /*fix for  buggy browsers*/
	display: table-column;
	width: 150px;
 	background-color: #fff;
}

.image {
	width:120px;
}

.image-smaller {
	width:70px;
}